@media only screen and (max-width: 800px) {
  .main {
    display: grid;
    grid-gap: 0;
    justify-items: center;
  }
  .container {
    min-width: 95%;
    height: 100vh;
    padding: 3em;
    margin: 0;
    border: 0;
    box-shadow: none;
    top: 1em;
    position: relative;
  }

  .sunset {
    list-style: none;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
  }

  .temperature h1 {
    font-size: calc(6rem + 1vw);
  }

  .condition {
    font-size: calc(2em + 1vw);
  }
  .sunset {
    margin-top: 1em;
  }

  .container-wg {
    min-width: 95%;
    margin: 11% 0;
    box-shadow: none;
    top: 1em;
    position: relative;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1150px) {
  .main {
    display: grid;
    grid-gap: 0;
    justify-items: center;
  }
  .container {
    min-width: 45%;
    border: 0;
    margin: 0px;
    box-shadow: none;
    top: 1em;
    min-height: 620px;
    position: relative;
  }

  .container-wg {
    min-width: 45%;

    box-shadow: none;
    top: 2em;
    position: relative;
  }
}
