@media only screen and (max-width: 945px) {

  .container {
    min-width: 95%;
    border: 0;
    margin: 9em 0em;
    box-shadow: none;
    top: 32%;
    left: 50%;
    min-height: 700px;
    position: absolute;
    transform: translate(-50%, -50%);

  }

  .sunset {
    list-style: none;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
  }

  .temperature h1 {
    font-size: calc(6rem + 1vw);
  }

  .condition {
    font-size: calc(2em + 1vw);
  }
  .sunset{
    margin-top: 1em;
  }

  .container-wg {
    min-width: 95%;
    margin: 3em 0em;
    box-shadow: none;
    top: 122%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 1150px) {
  .container {
    border: 0;
    margin: 12em 0em;
    box-shadow: none;
    top: 32%;
    left: 50%;
    min-height: 620px;
    position: absolute;
    transform: translate(-50%, -50%);

  }

  .container-wg {
    margin: 3em 0em;
    box-shadow: none;
    top: 122%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}