body {
  background: #6d4c3d url(images/a.jpg) no-repeat fixed;
  position: relative;
  background-size: cover;
  scroll-behavior: smooth;
}
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.main {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  position: relative;
}
/*----------------big weather box--------------*/
.container {
  color: #fff;
  background: #796c61c2;
  text-align: center;
  /* position: relative; */
  /* top: 5%; */
  /* left: 53%; */
  /* transform: translate(-50%, -50%); */
  border: 1px rgb(118, 118, 255);
  border-radius: 2em;
  width: 45%;
  height: 94%;
  margin: 1em 2em;
  float: right;
}
.sunset {
  list-style: none;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height:5em ;
}
.sunset li {
  margin: 0em;
  color: #fff;
  display: contents;
}
.sunset-icon{
  width: 5em;
  margin: 0;
  padding: 0;
}
.sunset i {
  font-size: calc(1.5em + 1vw);
}
.description {
  margin-top: 0.5em;
}
.bi::before,
[class*="bi-"] {
  font-size: 3rem;
}
.description h1 {
  font-size: calc(2rem + 1vw);
}

.temperature h1 {
  font-size: calc(4rem + 1vw);
}
.temperature {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0.5rem;
  border-bottom: 2px dashed;
}
.range {
  font-size: calc(1.7em + 1vw);
  margin: 0em;
  color: #ffffff94;
}
.condition {
  padding: 0.5rem;
  text-align: left;
  font-size: calc(1em + 1vw);
  border-bottom: 2px dashed;
}
.icon::before {
  padding: 0px 0px 0.4em 0px;
}
/*---------------small weather box--------------------------------------*/
.container-wg {
  display: flex;
  background-color: #cda183eb;
  /* transform: translate(-50%, -50%); */
  border: 1px rgb(118, 118, 255);
  border-radius: 2em;
  width: 40%;
  /* top: 19%; */
  /* left: 19%; */
  margin: 1em 2em;
  color: #fff;
  min-width: 500px;
  float: left;
}
.description-wg {
  color: #fff;
  flex: 2 2em;
  margin: 1em;
  align-self: end;
  border-left: 2px dashed;
  padding-left: 1em;
  text-align: right;
}
.condition-wg {
  margin: 0;

}
.icon-box {
  margin: 1em;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0.5rem;
  margin: 0;
  align-self: center;
  width: 35%;
}
.icon-box h1{
  font-size: calc(3rem + 1vw);
}
.icon-box p{
  margin: 0;
}